[data-theme=dark] {
    --couleur_fond: #121212;
    --couleur_principale: #2B2B2B;
    --couleur_secondaire: #4F46E5;
    --couleur_texte_principal: #fafafa;
    --couleur_texte_input: #1a1a1a;
    --couleur_input: #EDEDED;
}

[data-theme=light] {
    --couleur_fond: #DAE0E6;
    --couleur_principale: #FAFAFA;
    --couleur_secondaire: #4F46E5;
    --couleur_texte_principal: #1A1A1A;
    --couleur_texte_input: #1a1a1a;
    --couleur_input: #EDEDED;
}

:root {
    --couleur_fond: #DAE0E6;
    --couleur_principale: #FAFAFA;
    --couleur_secondaire: #4F46E5;
    --couleur_texte_principal: #1A1A1A;
    --couleur_input: #EDEDED;

}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--couleur_texte_principal);
    transition: 0.5s;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--couleur_fond);
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #4a4949, #383737, #272727, #171717, #000000);
    /* color of the scroll thumb */
    border-radius: 2px;
    /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, #4a4949, #383737, #272727, #171717, #000000);
    /* color on hover */
}

body {
    background-color: var(--couleur_fond);
    overflow-x: hidden;
}

/* .book .lang{
    position: absolute;
    top: 7px;
    right: 7px;
} */

.content {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.book {
    min-width: 300px;
    max-width: 300px;
    /* Ajustez la largeur de la carte selon vos besoins */
    max-height: 350px;
    min-height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

}

.book img {
    min-height: 200px;
    max-height: 200px;
    max-width: 150px;
    /* Les images occupent 100% de la largeur de la carte */
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0px;

}

.book:hover {
    transform: translate(-10px, -5px);
    transition: 0.2s;
    box-shadow: rgb(29, 29, 29) 5px 10px 0px;
}