@import url(root.css);
@import url(header.css);







.all_books {
    margin-top: 8vh;
    background-color: transparent;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
}

.all_books>h1 {
    position: relative;
    top: -30px;
}



.book {
    min-width: 100px;
    max-width: 150px;
    /* Ajustez la largeur de la carte selon vos besoins */
    max-height: 10%;
    min-height: 80%;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.book>img {
    height: 150px;
    max-width: 100px;
    /* Les images occupent 100% de la largeur de la carte */
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 0px;
}


@media screen and (min-width:900px) {
    .book>img:hover {
        transform: translateY(-8px);
    }
}

@media screen and (max-width:900px) {
    .all_books {
        overflow-x: scroll;
    }
}